/* styles.css */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.chart-container {
  max-width: 800px;
  margin: 0 auto;
}


.sections-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.section {
  flex: 1;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #111;
  border-radius: 8px;
  background-color: #222;
}

.form-container {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
}

.button {
  padding: 10px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  margin: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}

.file-upload-container, .delete-container {
  margin-top: 20px;
}


th {
  background-color: #111;
  border: 1px solid white;
  padding: 8px;
}
